/* Positioning styles */
.footer { /* Places objects at the base of the page */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.square-width {
  width: 100vh;
  height: 100vh;
}

.square-height {
  width: 100vh;
  height: 100vh;
}

.background {
  z-index: -1000;
}

.footer-image {
  bottom: 0;
  vertical-align: bottom;
  width:40px;
  height:auto;
}

/* Formatting Styles */

.title {
	font-size: 5vw;
	font-family: 'Noto Sans', sans-serif;
	color: #212529;
}

@media (max-width: 600px) {
	.title {
		/* Min font sixe */
		font-size: 30px;
	}
}

@media (min-width: 1000px) {
	.title {
		/* Min font sixe */
		font-size: 50px;
	}
}

#name-title-column {
	background-color: #FFFFFF;
}

.project-info {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-shadow: 0px 0px 3px #FFFFFF;
	color: #222222;
}
